section {
    display: flex;
    margin-top: 5rem;
    justify-content: center;
}

#carousel {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

img {
    max-height: 100%;
    transform: translateX(0);
    transition: transform 1500ms;
}

button {
    position: absolute;
    height: 2rem;
    width: 2rem;
    opacity: 0.6;
    transition: opacity;
    border: none;
    z-index: 10;
}

button:hover {
    opacity: 1;
}

#previous {
    left: 5px;
}

#next {
    right: 5px;
}

#small_div_container {
    display: flex;
    z-index: 10;
    position: absolute;
    bottom: 3px;
    left: 35%;
}

.small_div {
    height: 10px;
    width: 10px;
    border-radius: 20px;
    background-color: white;
    margin: 0.4rem;
    opacity: 0.6;
}

#div0 {
    opacity: 1;
}